    <div class="header-content">
        <!-- Consists of avatar, name, and description -->
        <div class = "header">
            <div class="personal">
                <!-- upper-left avatar linking to github -->
                <a href = "https://www.github.com/lukeleber">
                    <img src = "https://avatars0.githubusercontent.com/u/3664814" alt = "github-avatar" id= "avatar"/>
                </a>
                <h1>Luke's Digital Garage
                    <span class="social-media">
                        <!-- google+ me -->
                        <div class="google-plus">
                            <a href="//plus.google.com/u/0/116741526010375708873?prsrc=3"
                                rel="author" 
                                target="_top">
                                <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+"/></a>
                        </div>
                        <!-- gmail me -->
                        <div class="gmail-me">
                        <a href="mailto:lukeleber@gmail.com">
                            <img src = "https://www.google.com/toolbar/ie/images/feature_gmail_icon.gif"
                                 alt = "email me"></a>
                        </div>
                        <!-- twitter me -->
                        <a href="https://twitter.com/LukeLeber">
                            <img src="img/twitter.png" alt="twitter"/>
                        </a>
                    </span>
                    </h1>
                </div>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="portfolio.html">OSS Portfolio</a></li>
                            <li><a href="projects.html">Other Projects</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
            </div>
    </div>