<!doctype html>
<html lang="en">
{% include head.html %}
    <body>
        <noscript>
            <p>
                <strong>JavaScript seems to be disabled in your browser.</strong><br />
                This can be a good thing if you do not trust the site's author or content... +1 for security!<br />
                However, if you <i>do</i> trust this site, consider enabling javascript for a better user experience.
            </p>
        </noscript>
{% include header.html %}
        <br/>
        <br/><br/><br/>
        <hr/>
        <div class="content-wrapper">
{{content}}
        </div>
        <hr/>
{% include footer.html %}
    </body>
</html>